
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.action-btn{
    background: #4E47FF;
    color: white;
    border: none;
    padding: 12px 12px;
    border-radius: 4px;
    font-size: 16px;
}
.action-btn:hover{
    background: white;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.heading-main{
    font-size: 40px;
    margin: 100px 0 10px 0;
    padding: 0;
    font-weight: normal;
}
.heading-bold{
    font-size: 48px;
    margin: 0 0 20px 0;
    padding: 0;
    font-weight: bold;
}

.text-description{
    color: #8987A1;
}
/* nav styles */
 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
    color: #4E47FF;
}

/* banner styles */
.banner{
    background-image: url(./Assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    padding: 20px;
}
.content-center{
    margin: auto;
    text-align: center;
    max-width: 800px;
}
.focus-btn{
    margin-top: 20px;
}
/* main section styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* action section related styles */
.action-section{
    margin-top: 100px;
    margin-bottom: 100px;
}
.action-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.action-content{
    text-align: left;
}

.action-image {
    border-radius: 8px;
}

/* Productive Users Section */
.productive-section{
    padding: 40px 15px;
    text-align: center;
    background-color: #87CEFA;
    border-radius: 10px;
    margin-bottom: 40px;
}

.stats-container{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 50px;
}

.stat-item h3{
    font-size: 48px;
    margin-bottom: 10px;
    color: #4E47FF;
}

/* Testimonial Section */
.testimonial-section{
    padding: 80px 20px;
    background-color: #F7F8FC;
}

.testimonial-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.testimonial-card{
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    max-width: 300px;
    width: 100%;
    text-align: left;
}
.stars{
    display: flex;
    align-items: flex-start;
}
.star-img{
    width: 20px;
    height: auto;
}
.review{
    margin-top: 5px;
}
.reviewer-info{
    display: flex;
    align-items: center;
    gap: 12px;
}

.reviewer-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
/* Newsletter Section */
.newsletter-section{
    padding: 80px 20px;
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: space-around;
    gap: 300px;
}

.newsletter-section-title{
    text-align: left;
}
.contact-form{
    margin: 0 auto;
    text-align: left;
}

.contact-form label{
    margin-top: 20px;
    margin-bottom: 8px;
    font-weight: bold;
}

.contact-form input, .contact-form textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    font-size: 16px;
}

/* footer styles */
.site-footer{
    padding: 60px 20px;
    text-align: center;
}

.footer-title{
    color: #4E47FF;
    font-weight: bolder;
    font-size: 60px;
}

.footer-content{
    margin: 0 auto;
}

.footer-text{
    margin: 20px 0; 
}

.footer-nav{
    justify-content: center;
}
footer nav ul{
    display: flex;
    align-items: center;
}
footer nav ul li{
    list-style: none;
    margin-right: 51px;
}

footer nav ul a{
    text-decoration: none;
    font-size: 20px;
}
